.loading .start {
    display: none;
    cursor: pointer;
    background: #fff725;
  }

  .loading .progress, .loading .start {
    font-family: 'AlternateGothic3';
    text-transform: uppercase;
    font-size: 1.68em;
    line-height: 1.68em;
    display: block;
    padding: 0.22em 0.45em 0.2em;
    text-align: center;
    width: 80%;
  }

.copy {
    margin-top: 1.7em;
    font-size: 1.5em;
    margin-bottom: 1.7em;
    line-height: 1.65;
  }


.title {
    font-family: 'AlternateGothic3';
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1;
  }